*{
    padding: 0;
    margin: 0;

}
section{
    background-color: #ebebeb;
    width: 100%;
    padding: 0 0 40px 140px;


}
section div{
    background-color: #ffffff;
    max-width: 800px;
    padding: 430px 30px 90px 30px ;

}
section div p{
    color: #464646;
    font-size: 24px;
    line-height: 26px;
}

section div div{
    margin-top: 350px;
    display: flex;
}


section div ul{
    list-style: none;
    width: 25%;
    font-size: 20px;
    line-height: 27px ;

}
section div ul li:not(first-of-type){
    padding-left: 28px;
    margin-top: 10px;

}

ul:first-of-type{
    color: #1f2c39;
    border-right: solid #1f2c39;
    height: fit-content;
}

div ul:nth-child(2){
    color: #03246c;
    border-right:  solid #03246c;
    height: fit-content;
}

div ul:nth-child(3){
    color: #028090;
    border-right:  solid #028090;
    height: fit-content;
}

div ul:nth-child(4){
    color: #28aeaf;
    border-right: solid #28aeaf;
    height: fit-content;
}
div ul:first-of-type li:first-of-type{
    background-color:#1f2c39 ;
    color: white;
    padding: 15px 0 15px 0;
    border-radius: 50px 0 0 50px;
    text-align: center;

}
div ul:nth-child(2) li:first-of-type{
    background-color:#03246c ;
    color: white;
    padding: 15px 0 15px 0;
    text-align: center;

}

div ul:nth-child(3) li:first-of-type{
    background-color:#028090 ;
    color: white;
    padding: 15px 0 15px 0;
    text-align: center;

}
div ul:nth-child(4) li:first-of-type{
    background-color:#28aeaf ;
    color: white;
    padding: 15px 0 15px 0;
    text-align: center;

}

